name: pdftopng

# on: [pull_request]
on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build poppler
        run: |
          sudo apt install build-essential cmake libfreetype-dev libfontconfig-dev libpng-dev libjpeg-dev
          cd lib/poppler && mkdir build && cd build
          cmake -D ENABLE_QT5=OFF -D ENABLE_LIBOPENJPEG=none -D ENABLE_CPP=OFF ..
          make poppler
      - name: Install pdftopng
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
      - name: Test with pytest
        run: |
          pytest --verbose --cov-report term --cov-report xml --cov=pdftopng tests/test_*.py
